<nav>
    <a routerLink=""><img src="https://www.linkpicture.com/q/Logo21.png" height="50"></a>
    <ul>
        <li><a routerLink="">Home</a></li>
        <ng-container *ngIf="isLogged">
            <li><a routerLink="/posts/all">All Posts</a></li>
            <li><a routerLink="/myPosts">My Posts</a></li>
            <li><a routerLink="/posts/create">Create Post</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a href="javascript:void(0)" (click)="logoutHandler()">Logout</a></li>
        </ng-container>
        <ng-container *ngIf="!isLogged">
            <li><a routerLink="/posts/all">All Posts</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
        </ng-container>
    </ul>
</nav>

<app-spinner [showLoader]="showLoader"></app-spinner>