<form class="publication-form">
    <h1>Create Post</h1>
    <div>
        <label>Title</label>
        <input type="text" placeholder="Post title" name="title">
        <p class="errorText">Test Error</p>
    </div>
    <div>
        <label>Before" image URL</label>
        <input type="text" placeholder="Your Before Image Url" name="beforeImgUrl">
        <p class="errorText">Test Error</p>
    </div>
    <div>
        <label>After" image URL</label>
        <input type="text" placeholder="Your After Image Url" name="afterImgUrl">
        <p class="errorText">Test Error</p>
    </div>
    <div>
        <label>Description</label>
        <input type="textarea" placeholder="Some nice description" name="description">
        <p class="errorText">Test Error</p>
    </div>
    <div class="check">
        <input type="checkbox" id="check-box" checked="checked" name="checkbox">
        <label>Public</label>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>