<div class="profile"><img src="{{profilePicture}}" alt="default user">
  <ng-container *ngIf="!!currUser">
    <ng-container *ngIf="!isEditMode">
        <h3>User Info</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{currUser.username}}</p>
        </div>
        <div class="flex">
            <p>First and last name: </p>
            <p>{{currUser.fullName}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{currUser.email}}</p>
        </div>
        <!-- <div class="flex">
            <p>Profile picture: </p>
            <p>Something</p>
        </div> -->
        <button (click)="editHandler()" class="btn edit">Edit</button>
    </ng-container>

    <ng-container *ngIf="isEditMode">
        <form #saveProfileForm="ngForm" (ngSubmit)="saveHandler(saveProfileForm)" class="profileForm">
            <h3>Edit User</h3>
                <div class="flex">
                    <p>Username: </p>
                    <input #username="ngModel" ngModel required minlength="{{nameMinLength}}" maxlength="{{userNameMaxLength}}" type="text" name="username">
                    <ng-container *ngIf="username.touched && username.invalid">
                        <p *ngIf="username.errors?.['required']" class="errorText">Username is required!</p>
                        <p *ngIf="username.errors?.['minlength'] && !username.errors?.['required']" class="errorText">
                            Username should be at least {{ nameMinLength }} symbols!
                        </p>
                    </ng-container>
                </div>
                <div class="flex">
                    <p>First and last name: </p>
                    <input #fullName="ngModel" ngModel required minlength="{{nameMinLength}}" maxlength="{{maxLength}}" type="text" name="fullName">
                    <ng-container *ngIf="fullName.touched && fullName.invalid">
                        <p *ngIf="fullName.errors?.['required']" class="errorText">Fullname is required!</p>
                        <p *ngIf="fullName.errors?.['minlength'] && !fullName.errors?.['required']" class="errorText">
                            Fullname should be at least {{ nameMinLength }} symbols!
                        </p>
                    </ng-container> 
                </div >
                <div class="flex">
                    <p>Email: </p>
                    <input #email="ngModel" ngModel required emailValidator type="email" name="email">
                    <ng-container *ngIf="email.touched && email.invalid">
                        <p *ngIf="email.errors?.['required']" class="errorText">Email is required!</p>
                        <p *ngIf="email.errors?.['emailVal'] && !email.errors?.['required']" class="errorText">Email is not valid!</p>
                    </ng-container>
                </div>
                <!-- <div class="flex">
                    <p>Profile picture: </p>
                    <input type="file" name="profilePicture" accept="image/jpg" id="profile-picture" (change)="updateProfilePicture($event)">
                </div> -->
                <button type="button" (click)="isEditMode = false" class="btn cancel">Cancel</button>
                <button [disabled]="saveProfileForm.invalid" class="btn save">Save</button>
            </form>
    </ng-container>
  </ng-container>
</div>

<app-spinner [showLoader]="showLoader"></app-spinner>