:host {
    width: 100%;
}

.profile {
    width: 100%;
    max-width: 900px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: .4em solid rgb(65, 199, 255, 255);
    border-radius: .5rem;
    color: #444;
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
}

.profile h3 {
    text-decoration: underline;
    margin: 12px;
}

.profile img {
    width: 7em;
    height: 7em;
    margin: auto;
    display: block;
}

.flex {
    display: -webkit-box;
    margin: 0.3em;
}

.flex p:first-child {
    width: 35%;
    text-align: right;
    margin: .5em;
}

.flex p:last-child {
    width: 55%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
}

.flex>input,
.flex>div {
    width: 40% !important;
    text-align: left !important;
    margin: .1em !important;
}

.flex>div>input {
    width: 77%;
}

.flex select {
    padding: 0.17em 0;
}

.btn.cancel:hover {
    background-color: red;
}

.btn.edit:hover {
    background-color: blue;
}

.btn.save:hover {
    background-color: green;
}

input {
    text-decoration: inherit;
    background-color: transparent;
    border: none;
    display: block;
    border-bottom: 2px solid rgb(7, 1, 31);
    font-family: system-ui;
    font-size: 0.8rem;
}

input.ng-valid {
    border-bottom: 3.5px solid #42A948;
}

.btn {
    margin: 12px;
    font-size: 1.2rem;
    border-radius: 0.3em;
    padding: 0.1em 0.3em;
    font-weight: bold;
    color: black;
    box-shadow: 2px 2px 5px black;
}

.btn:disabled {
    background: #dddddd;
    cursor: not-allowed;
  }

