<article class="new-comment">
    <form id="commentForm">
        <h3>New comment</h3>
        <textarea name="content" placeholder="Type comment"></textarea>
        <!-- <button [disabled]="saveCommentForm.invalid" class="btn save">Save</button> -->
    </form>
</article>

<div class="container" *ngIf="comments">
    <section class="details">
        <h3>Comments</h3>
        <div class="comments">
            <ul>
                <li class="comment" *ngFor="let comment of comments">
                    <header>
                        {{comment.author.username}}
                        <span class="comment-date">
                        {{comment.createdAt}}
                        </span>
                    </header>
                    <p>{{comment.content}}</p>
                    <!-- <p><span>{{comment.createdAt | createdBefore}}</span></p>
                    <p><span>{{now | date: 'medium'}}</span></p>
                    <p><span>{{comment.createdAt | date: 'medium'}}</span></p> -->
                </li>
            </ul>
            <div *ngIf="comments.length === 0">No comment for this post!</div>
        </div>
    </section>
</div>

<app-spinner [showLoader]="showLoader"></app-spinner>