<div [style.visibility]="gameStarted ? 'visible' : 'hidden'" class="points">
    <p>Points: <span class="points-current">{{points}}</span></p>
</div>
<div class="game-view">
    <article *ngIf="!gameStarted" class="start-screen" (click)="startGame()">
        <p>Start New Space Fight</p>
    </article>
    <article *ngIf="showSettings" class="settings">
        <article class="settings-controls">
            <h2 class="settings-title">Game Controls</h2>
            <p class="settings-controls-text">Movements:</p>
            <div><img src="../../../../assets/images/movements.png" alt="Movements Controls" class="controls-img"></div>
            <p class="settings-controls-text">Weapon Fire:</p>
            <div><img src="../../../../assets/images/space.png" alt="Space" class="controls-img"></div>
            <p class="settings-controls-text">Use Spaceship Boost:</p>
            <div><img src="../../../../assets/images/shift.png" alt="Shift" class="controls-img"></div>
        </article>
        <div class="settings-right">
            <article class="settings-other">
                <h2 class="settings-title">Other Keys</h2>
                <p class="settings-controls-text">Press <b>"P"</b> to pause the game</p>
                <p class="settings-controls-text">Press <b>"R"</b> to resume the game</p>
                <p class="settings-controls-text">Press <b>"M"</b> for game menu</p>
            </article>
            <article class="settings-bonuses">
                <h2 class="settings-title">Bonuses</h2>
                <div class="settings-bonuses-el">
                    <p class="settings-bonuses-text">Fire with both weapons</p>
                    <div><img src="../../../../assets/images/bonus-double-fire.png" alt="Double-Fire" class="settings-bonuses-img"></div>
                </div>
                <div class="settings-bonuses-el">
                    <p class="settings-bonuses-text">Activate spaceship aim</p>
                    <div><img src="../../../../assets/images/bonus-aim.png" alt="Aim" class="settings-bonuses-img"></div>
                </div>
                <div class="settings-bonuses-el">
                    <p class="settings-bonuses-text">Invisible to aliens</p>
                    <div><img src="../../../../assets/images/bonus-invisible.png" alt="Invisible" class="settings-bonuses-img"></div>
                </div>
            </article>
        </div>
    </article>
</div>
<div [style.visibility]="gameStarted ? 'visible' : 'hidden'" class="game-footer">
     <div class="game-footer-imgs" *ngIf="gameStarted">
        <p class="game-footer-text">Active Bonuses:</p>
        <div class="game-footer-img-double"><img src="../../../../assets/images/bonus-double-fire.png" alt="Double-Fire"></div>
        <div class="game-footer-img-aim"><img src="../../../../assets/images/bonus-aim.png" alt="Aim"></div>
        <div class="game-footer-img-invisible"><img src="../../../../assets/images/bonus-invisible.png" alt="Invisible"></div>
     </div>
     <p class="game-footer-level">Level: <span >{{level}}</span></p>
</div>