.game-view {
    font-family: 'Consolas';
    position: relative;
    width: 100vw;
    height: 73vh;
    overflow: hidden;
}

.start-screen {
    background-color: #FFC72C;
    display: inline-block;
    width: 420px;
    height: 80px;
    border-radius: 40px;
    border: 2px dotted black;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.start-screen p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-shadow: 1px 1px 4px blue;
}

.settings {
    display: flex;
    justify-content: space-around;
    background-color: #232422;
    opacity: 80%;
    width: 900px;
    margin: 60px auto;
    padding: 28px 0px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 20px blue;
    color: white;
    z-index: 2;
}

.settings-title {
    font-size: 28px;
}

.settings-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls-img {
    width: 100%;
    height: 100%;
}

.settings-bonuses-img {
    width: 70%;
    height: 70%;
}

.settings-controls-text {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    font-style: italic;
}

.settings-right h2 {
    text-align: center;
}

.settings-bonuses {
    display: flex;
    flex-direction: column;
}

.settings-bonuses-el {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.settings-other {
    margin-bottom: 30px;
}

.settings-bonuses-img {
    margin: 0px 0px 0px 20px;
}

@media screen and (max-width: 900px) {
    .settings {
        width: 100%;
    }
}

@media screen and (max-height: 820px) {
    div.game-footer {
        margin: 0px auto;
    }

    .game-view {
        font-family: 'Consolas';
        position: relative;
        width: 100vw;
        height: 76vh;
        overflow: hidden;
    }

    div.points {
        margin: 0px;
    }

    .settings-bonuses-img {
        width: 70%;
        height: 70%;
    }

    article.settings {
        margin: 10px auto;
        height: 100%;
    }

    .settings-bonuses-el {
        font-size: 16px;
    }

    .settings-controls-text {
        font-size: 16px;
    }

    .settings-title {
        font-size: 22px;
    }

    .start-screen p {
        font-size: 20px;
    }
}

div.spaceship img {
    width: 100%;
    height: 100%;
}

div.alien img {
    width: 100%;
    height: 100%;
}

div.bomb img {
    width: 100%;
    height: 100%;
}

div.double-fire-bonus img {
    width: 100%;
    height: 100%;
}

.points {
    visibility: hidden;
    font-family: 'Consolas';
    color: white;
    margin: 5px 0px 15px 0px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.game-footer {
    position: relative;
    min-height: 55px;
    visibility: hidden;
    font-family: 'Consolas';
    color: white;
    margin: 14px 0px 15px 0px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.game-footer-imgs {
    display: flex;
    align-items: center;
}

.game-footer-imgs div img {
    width: 100%;
    height: 100%;
}

.game-footer-imgs div {
    opacity: 50%;
    margin-left: 40px;
    height: 62px;
}

.game-footer-imgs div.game-footer-img-boost-speed img {
    width: 80%;
}

.game-footer-imgs div.game-footer-img-boost-speed {
    position: relative;
    opacity: 100%;
    margin-left: 60px;
    border-left: 2px dashed white;
    padding-left: 40px;
}

.game-footer-imgs div.footer-img-active {
    opacity: 100%;
    box-shadow: 0px 0px 20px 17px blue;
    background-color: blue;
    border-radius: 50%;
}


.game-footer-text {
    margin-left: 60px;
}

.game-footer-level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.hide::after {
    display: none;
}

div.spaceship::after {
    content: '';
    position: absolute;
    width: 2200px;
    border-bottom: 1px dashed red;
    top: 42px;
    left: 66px;
    z-index: -2;
}

