form {
    max-width: 40em;
    min-width: 15em;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 1rem;
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 2px 10px 1.5em 5px black;
}