<form>
    <h2>Register</h2>
    <div class="on-dark">
        <label>First and last name</label>
        <input class="error" type="text" placeholder="John Jonsen" name="fullName" value="">
        <p class="errorText">Error</p>
    </div>
    <div class="on-dark">
        <label>Username</label>
        <input class="error" type="text" placeholder="John93" name="username" value="">
        <p class="errorText">Error</p>
    </div>
    <div class="on-dark">
        <label>Email</label>
        <input class="error" type="email" placeholder="John93@gmail.com" name="email" value="">
        <p class="errorText">Error</p>
    </div>
    <div class="on-dark">
        <label>Password</label>
        <input class="error" type="password" placeholder="*********" name="password" value="">
        <p class="errorText">Error</p>
    </div>
    <div class="on-dark">
        <label>Repeat Password</label>
        <input class="error" type="password" placeholder="*********" name="repeatPass" value="">
        <p class="errorText">Error</p>
    </div>
    <button class="btn" type="submit">Register</button>
</form>