<section class="container">

    <div *ngIf="!!posts">
        <div class="publications-container">
            <div *ngFor="let post of posts">
                <div class="home-image">
                    <img src={{post.beforeImgUrl}} alt="Card image cap">
                </div>
                <div class="info">
                    <h4>{{post.title}}</h4>
                    <div class="info-buttons">
                        <a class="btn details" [routerLink]="['/posts/details', post.objectId]">See "After"</a>
                        <span class="likes">3 likes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-spinner [showLoader]="showLoader"></app-spinner>
</section>