<section class="container">
    <div class="aux">
        <h1>{{isMyPosts ? 'My' : 'All'}} Posts | Sorted by {{sortType}}</h1>
        <div class="home-buttons">
            <ng-container *ngIf="sortType == 'Likes'">
                <a class="btn btn-home" (click)="sortByDate(posts)">Sort by Date</a>
            </ng-container>
            <ng-container *ngIf="sortType == 'Date'">
                <a class="btn btn-home" (click)="sortByLikes(posts)">Sort by Likes</a>
            </ng-container>
        </div>
    </div>
    <div *ngIf="!!posts">
        <div *ngIf="posts.length != 0" class="publications-container">
            <div *ngFor="let post of posts">
                <div class="home-image">
                    <img src={{post.beforeImgUrl}} alt="Card image cap">
                </div>
                <div class="info">
                    <h4>{{post.title}}</h4>
                    <ng-container *ngIf="isMyPosts">
                        <a class="btn details" [routerLink]="['/posts/details', post.objectId]">Details</a>
                    </ng-container>
                    <ng-container *ngIf="!isMyPosts">
                        <a class="btn details" [routerLink]="['/posts/details', post.objectId]">See "After"</a>
                    </ng-container>
                    <div class="info-buttons">
                        <span>{{post.createdAt | date: 'mediumDate' }}</span>
                        <ng-container *ngIf="isMyPosts">
                            <b>
                                <span [ngClass]="{'status-private': !post.isPublic, 'status-public': post.isPublic}">|
                                    {{post.isPublic ? 'Public' : 'Private'}} |</span>
                            </b>
                        </ng-container>
                        <span class="likes">{{post.likes.length}} likes</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="posts.length == 0">
            <h3>You don't have any posts yet! Why not <a [routerLink]="['/posts/create']">create</a> one?</h3>
        </div>
    </div>
</section>

<app-spinner [showLoader]="showLoader"></app-spinner>