<footer>
  <div class="footer-owner-rights">
    &copy; {{currYear | date: 'yyyy'}} &bull; <i>Befer</i> &bull; {{menu.content}} <a
      href="https://github.com/SvilenStoev" target="_blank"><b>{{menu.ownerName}}</b></a>
  </div>
  <div class="footer-owner-media">
    <ul>
      <li><a class="github" href="https://github.com/SvilenStoev" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/svilenstoev/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a class="gmail" href="mailto: svilen.d.stoev@abv.bg" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
      <li><a class="fb" href="https://www.facebook.com/svilen.stoev.3/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
  </ul>
  </div>
</footer>