<form [formGroup]="loginFormGroup" (ngSubmit)="loginHandler()">
    <h2>Login</h2>
    <div>
        <label for="username">Username</label>
        <input formControlName="username" type="text"
            placeholder="Username" name="username">
        <ng-container *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].invalid">
            <p *ngIf="loginFormGroup.controls['username'].errors?.['required']" class="errorText">Username is required!</p>
            <p *ngIf="loginFormGroup.controls['username'].errors?.['whitespace']" class="errorText">
                Username should not contains whitespace!
            </p>
            <p *ngIf="loginFormGroup.controls['username'].errors?.['minlength'] && !loginFormGroup.controls['username'].errors?.['whitespace']" class="errorText">
                Username should be at least {{ minlength }} symbols! {{ usernameSymb }} symbols to go.
            </p>
        </ng-container>
    </div>
    <div>
        <label for="password">Password</label>
        <input formControlName="password" type="password" placeholder="Password" name="password">
        <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
            <p *ngIf="loginFormGroup.controls['password'].errors?.['required']" class="errorText">
                Password is required!
            </p>
            <p *ngIf="loginFormGroup.controls['password'].errors?.['minlength']" class="errorText">
                Password should be at least {{ minlength }} symbols! {{ passwordSymb }} symbols to go.
            </p>
        </ng-container>
    </div>
    <button class="btn" type="submit" [disabled]="!loginFormGroup.valid">Login</button>
    <div class="registerPath">You don't have a profile? &nbsp; <a class="registerPath" routerLink="/register"><b><u>Join Befer now!</u></b></a></div>
</form>