/* .mainLeft {
    width: 60%;
    margin-left: 2em;
    display: inline-block;
}

.asideRight {
    width: 35%;
    display: inline-block;
}

.container {
    width: 30%;
} */

.asideRight>div {
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}