<div *ngIf="!!post" class="container">
    <section class="details">
        <h1 class="margin-b20"><i>Post title:</i> {{post.title}}</h1>
        <div class="textCenter">
            <img src={{post.beforeImgUrl}} />
            <img class="befer-logo" src="../../../../assets/images/Befer_spinner.png" />
            <img src={{post.afterImgUrl}} />
        </div>
        <div class="margin-t20">
            <hr style="width:500px; margin: auto;">
        </div>
        <div class="textCenter margin-t20">
            <ng-container *ngIf="post.description">
                <h3>Post Description</h3>
                <p>{{post.description}}</p>
            </ng-container>
            <div class="buttons">
                <ng-container *ngIf="isOwner">
                    <a href="javascript:void(0)" (click)="onDelete()" class="btn delete">Delete</a>
                    <a class="btn edit" [routerLink]="['/post/edit', postId]">Edit</a>
                </ng-container>
                <a href="javascript:void(0)" (click)="likeHandler()" *ngIf="!isLiked && !isOwner" class="btn like">Like</a>
                <ng-container *ngIf="isLiked && !isOwner">
                    <a href="javascript:void(0)" (click)="dislikeHandler()" class="btn dislike">Dislike</a>
                    <span class="liked">You liked this post!</span>
                </ng-container>
            </div>
        </div>
    </section>

    <section class="details">
        <div class="textCenter">
            <h3>Post Author</h3>
            <p>Username: {{post.owner.username}}</p>
            <p>Full name: {{post.owner.fullName}}</p>
            <p *ngIf="post.owner.email">Email: {{post.owner.email}}</p>
        </div>
    </section>
</div>

<app-comments></app-comments>

<app-spinner [showLoader]="showLoader"></app-spinner>