section.details {
    width: 60em;
    margin: 3em auto;
}

.buttons {
    display: block;
    margin: 1em 2em 0 auto;
}

.btn.delete:hover {
    background-color: red;
}

.btn.edit:hover {
    background-color: blue;
}

.btn.like:hover {
    background-color: green;
}

.btn.like:hover>i {
    color: white;
}

i.fa-thumbs-up {
    color: green;
}

i.fa-thumbs-down {
    color: red;
}

.btn.dislike:hover {
    background-color: red;
}

.btn.dislike:hover>i {
    color: white;
}

.textCenter {
    text-align: center;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.pictures-img-before,
.pictures-img-after {
    margin: 0 20px;
    max-height: 25em;
    max-width: 25em;
    min-height: 15em;
    min-width: 15em;
    border: 3px solid black;
    box-shadow: 2px 2px 1em 5px rgba(65, 199, 255, 255);
    border-radius: 20%;
}

div.pictures {
    position: relative;
    display: flex;
    align-items: center;
}

@media all and (max-width: 500px) {
    div.pictures {
        flex-direction: column;
        align-items: center;
    }

    img.pictures-img-before{
        margin-bottom: 40px;
    }
}

.befer-logo {
    width: 90px;
    height: 85px;
}

.textCenter>i {
    font-size: 3em;
}

.liked {
    margin-left: 1em;
}