section.details {
    width: 60em;
    margin: 3em auto;
}

.buttons {
    display: block;
    margin: 1em 2em 0 auto;
}

.btn.delete:hover {
    background-color: red;
}

.btn.edit:hover {
    background-color: blue;
}

.btn.like:hover {
    background-color: green;
}

.btn.like:hover>i {
    color: white;
}

i.fa-thumbs-up {
    color: green;
}

i.fa-thumbs-down {
    color: red;
}

.btn.dislike:hover {
    background-color: red;
}

.btn.dislike:hover>i {
    color: white;
}

.textCenter {
    text-align: center;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.textCenter>img:not(.befer-logo) {
    max-height: 25em;
    max-width: 25em;
    min-height: 15em;
    min-width: 15em;
    border-style: groove;
    border-color: black;
    box-shadow: 2px 2px 1em 5px rgba(65, 199, 255, 255);
}

.befer-logo {
    width: 8%;
    height: 8%;
}

.textCenter>i {
    font-size: 3em;
}

.liked {
    margin-left: 1em;
}