/* height: 700px, width: 800px */

@media (max-height: 700px) {
    html {
        font-size: 12px;
    }

    header {
        margin-top: 0.5em;
    }

    section {
        margin: 1rem 3em;
    }
}

@media (max-width: 800px) {
    .publications-container {
        flex-wrap: wrap;
        overflow-x: initial;
        justify-content: space-around;
    }

    html {
        font-size: 12px;
    }

    header {
        margin-top: 0.5em;
    }

    section {
        margin: 1rem 3em;
    }
}

/* height: 600px, width: 700px */

@media (max-height: 600px) {
    html {
        font-size: 11px;
    }

    header {
        margin-top: 0.4em;
    }

    section {
        margin: 1rem 3em;
    }
}

@media (max-width: 700px) {
    .publications-container {
        flex-wrap: wrap;
        overflow-x: initial;
    }

    html {
        font-size: 11px;
    }

    header {
        margin-top: 0.4em;
    }

    section {
        margin: 1rem 3em;
    }
}


/* height: 500px, width: 600px */

@media (max-height: 500px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .publications-container {
        flex-wrap: wrap;
        overflow-x: initial;
    }

    html {
        font-size: 10px;
    }
}


/* height: 400px, width: 500px */

@media (max-height: 400px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 500px) {
    .publications-container {
        flex-wrap: wrap;
        overflow-x: initial;
    }

    html {
        font-size: 9px;
    }
}


/* width: 400px */


@media (max-width: 400px) {
    section.details {
        width: 90vw;
    }
}

/* Space-fight-game Responsive */
@media screen and (max-width: 1650px) {

    .game-footer-text,
    .game-footer-imgs div {
        margin-left: 10px;
    }

    .game-footer-imgs div.game-footer-img-boost-speed {
        margin-left: 15px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .settings {
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    div.game-footer {
        margin: 0px auto;
    }

    div.game-view {
        width: 100vw;
        height: 70vh;
    }

    div.points {
        margin: 0px;
    }

    .settings-bonuses-img {
        width: 70%;
        height: 70%;
    }

    article.settings {
        margin: 10px auto;
        height: 95%;
    }

    .settings-bonuses-el {
        font-size: 16px;
    }

    .settings-controls-text {
        font-size: 16px;
    }

    .settings-title {
        font-size: 22px;
    }

    .start-screen p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px) {
    p.game-footer-level {
        transform: none;
        left: 52%;
    }
}