.mainbox {
  text-align: center;
  margin: auto;
  margin-top: 7rem;
  height: 550px;
  width: 550px;
  position: relative;
}

.err {
  margin: auto;
  color: #95c2de;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  display: inline-block;
  margin-right: 26px;
}

.far {
  font-size: 8.5rem;
  display: inline-block;
  margin-right: 26px;
  color: #95c2de;
}

.err2 {
  color: #95c2de;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  display: inline-block;
}

.msg {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  color: rgba(255, 199, 44, 255);
}

a {
  text-decoration: none;
  color: #95c2de;
}

a:hover {
  text-decoration: underline;
}