<div class="stars">
    <div class="central-body">
        <div class="err">4</div>
        <img class="far slow-spin" src="http://salehriaz.com/404Page/img/earth.svg" width="180px">
        <div class="err2">4</div>
        <div class="msg">
            <h1>Sorry!</h1>
            <p> Either you aren't cool enough to visit this page or it doesn't exist <em>. . . like your social
                    life.</em> </p>
        </div>
        <a routerLink="/spacefight" class="btn-go-home">TRY MY SPACE FIGHT GAME</a>
    </div>
    <div class="objects">
        <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="60px">
        <div class="earth-moon">
            <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
        </div> -->
        <div class="box_astronaut">
            <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
