<div class="aux">
    <h1>Top {{limitPosts}} Posts</h1>
    <div class="home-buttons">
        <a *ngIf="isLogged" class="btn btn-home" routerLink="/posts/create">Create Post</a>
        <a class="btn btn-home" (click)="loadPosts(5)">Top 5 posts</a>
        <a class="btn btn-home" (click)="loadPosts(10)">Top 10 posts</a>
        <a class="btn btn-home" (click)="loadPosts(limitPosts, 'Date')">Sort by Date</a>
        <a class="btn btn-home" (click)="loadPosts(limitPosts, 'Likes')">Sort by Likes</a>
    </div>
</div>
<div *ngIf="!!posts">
    <div class="publications-container">
        <div *ngFor="let post of posts">
            <div class="home-image">
                <img src={{post.beforeImgUrl}} alt="Card image cap">
            </div>
            <div class="info">
                <h4>{{post.title}}</h4>
                <a class="btn details" [routerLink]="['/posts/details', post.objectId]">See "After"</a>
                <div class="info-buttons">
                    <span>{{post.createdAt | date: 'mediumDate' }}</span>
                    <span class="likes">{{post.likes?.length}} likes</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner [showLoader]="showLoader"></app-spinner>