<div class="aux">
    <h1>{{menu.postsSortedBy | replaceArgs: limitPosts: sortType}}</h1>
    <div class="home-buttons">
        <a *ngIf="isLogged" class="btn btn-home" routerLink="/posts/create">{{menu.createPost}}</a>
        <a class="btn btn-home" (click)="loadPosts(5)">{{menu.top5}}</a>
        <a class="btn btn-home" (click)="loadPosts(10)">{{menu.top10}}</a>
        <ng-container *ngIf="sortType == menu.likes">
            <a class="btn btn-home" (click)="sortByDate(posts)">{{menu.sortByDate}}</a>
        </ng-container>
        <ng-container *ngIf="sortType == menu.date">
            <a class="btn btn-home" (click)="sortByLikes(posts)">{{menu.sortByLikes}}</a>
        </ng-container>
    </div>
</div>
<div *ngIf="!!posts">
    <div class="publications-container">
        <div *ngFor="let post of posts">
            <div class="home-image">
                <img src={{post.beforeImgUrl}} alt="Card image cap">
            </div>
            <div class="info">
                <h4>{{post.title}}</h4>
                <a class="btn details" [routerLink]="['/posts/details', post.objectId]">{{menu.seeAfter}}</a>
                <div class="info-buttons">
                    <span>{{post.createdAt | date: 'mediumDate' }}</span>
                    <span class="likes">{{post.likes?.length}} {{post.likes?.length == 1 ? menu.like : menu.likesCount}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner [showLoader]="showLoader"></app-spinner>